<% if current_user == activity.owner %>
  <li>
    <% proposal = activity.trackable %>
    You have created a <%= link_to 'Proposal', proposal_path(proposal) %> for <%= "#{activity.recipient.first_name}'s" %> <%= proposal.request.service.type %> request.
  </li>
<% elsif current_user == activity.recipient %>
  <% proposal = activity.trackable %>
  <%= link_to proposal_path(proposal), class: 'collection-item avatar' do %>
    <%= image_tag proposal.business.image_url, class: 'circle' %>
    <strong class='title'> <%= "#{activity.owner.business.name}" %> </strong>
    <p>
       sent a proposal for your <%= proposal.request.service.type %> request.
       <br />
       <small><%= activity.created_at.to_formatted_s(:short) %></small>
    </p>
  <% end %>
<% end %>

