<%= link_to category_services_path({area: service.area, category: service.category}) do %>
  <div class='card hoverable' style='margin:10px;'>
    <div class='card-image'>
      <%= image_tag(service.image.url) %>
      <span class='card-title'><%= service.category.capitalize %></span>
    </div>
  </div>
<% end %>

