<div class='card' style='margin:10px;'>
  <div class='card-image'>
    <%= image_tag(service.image.url) %>
    <span class='card-title'><%= service.type %></span>
  </div>

  <div class="card-action center-align">
    <%= link_to "View", category_services_path({area: service.area, category: service.category}), class: 'grey lighten-3 black-text btn' %>
  </div>
</div>

