<%= link_to new_request_path(service_type: service.type) do %>
  <div class='card hoverable' style='margin:10px;'>
    <div class='card-image'>
      <%= image_tag(service.image.url) %>
      <span class='card-title'><%= service.type.capitalize %></span>
    </div>
  </div>
<% end %>
