<div class='center-align section banner'>
  <h3 class='text-thin'><%= params[:area].capitalize %> services</h3>
</div>

<div class='service-card-container row container section'>
  <% @services.each do |service| %>
    <div class='col m4 s12'>
      <div class='card'>
        <div class='card-image'>
          <%= image_tag service.image.url %>
          <span class='card-title'><%= service.category.capitalize %></span>
        </div>

        <div class="card-action center-align">
          <%= link_to "View", category_services_path({area: service.area, category: service.category}), class: 'btn grey lighten-3 black-text' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
