<div class='center-align section banner'>
  <h3 class='text-thin'><%= "#{params[:category].capitalize} services" %></h3>
</div>

<div class='service-card-container row container section'>
  <h5 class='center text-thin'>Choose your type of <%=  "#{params[:category].capitalize} service"%> </h5>
  <% @services.each do |service| %>
    <div class='col m4 s12'>
      <div class='card'>
        <div class='card-image'>
          <%= image_tag service.image.url %>
          <span class='card-title'><%= service.type.capitalize %></span>
        </div>

        <div class="card-action center-align">
          <%= link_to "REQUEST", new_request_path(service_type: service.type), class: 'btn grey lighten-3 black-text' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
