<%= form_for(business, html: {class: 'row'}) do |f| %>
  <%= hidden_field_tag :request_id, params[:request_id] %>
  <% if business.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h5>

      <ul>
        <% business.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field col s12">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <% if @business.image.file %>
    <div class='col s12'>
      <%= image_tag @business.image.url, class: 'responsive-img' %>
    </div>
  <% end %>

  <div class='file-field input-field col s12'>
    <div class='btn'>
      <i class='medium material-icons'> add_a_photo </i>
      <%= f.file_field :image %>
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text" placeholder="Upload business profile image">
    </div>
  </div>

  <% if @business.service_ids.empty?  %>
    <div class="input-field col s12">
      <%= f.text_field :nature_of_business, class: 'js-autocomplete', id: 'autocomplete-input', autocomplete: 'off' %>
      <label for="">Services</label>
    </div>

    <div class='input-field col s12'>
      <% Service.all.group_by(&:category).each do |category, types| %>
        <div id='<%= category.capitalize.gsub(' ', '-') %>' class='service-type-checkboxes hidden'>
          <%= f.collection_check_boxes :service_ids, types, :id, :type do |s| %>
            <p><%= s.check_box(checked: true, disabled: true) %> <%= s.label(html: 'shit') %> </p>
          <% end %>
        </div>
      <% end %>
      <br />

    </div>
  <% end %>

  <% if !current_user  %>
    <% if business.user.errors.any? %>
      <div id="error_explanation">
        <h5><%= pluralize(business.user.errors.count, "error") %> prohibited this user from being saved:</h5>

        <ul>
          <% business.user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.fields_for business.user do |user| %>
      <div class="input-field col s12">
        <%= user.label :first_name  %>
        <%= user.text_field :first_name %>
      </div>

      <div class="input-field col s12">
        <%= user.label :last_name %>
        <%= user.text_field :last_name %>
      </div>

      <div class="input-field col s12">
        <%= user.label :phone %>
        <%= user.text_field :phone %>
      </div>

      <div class="input-field col s12">
        <%= user.label :email %>
        <%= user.text_field :email, type: 'email' %>
      </div>

      <div class="input-field col s12">
        <%= user.label :password %>
        <%= user.password_field :password %>
      </div>
    <% end %>
  <% end %>

  <div class='input-field col s12'>
    <% if @request %>
      <%= f.submit 'Continue', class: 'btn btn-large col s12 m3' %>
    <% else %>
      <%= f.submit 'Submit', class: 'btn btn-large col s12 m3' %>
    <% end %>
  </div>
<% end %>
