<div class='container'>
  <div class='row'>
    <div class='col s12 m12 l12'>
      <% if !@business.image.file.nil? %>
        <%= image_tag @business.image.url %>
      <% end %>
      <h3><%= @business.name %></h3>
      <i class='material-icons green-text'>thumb_up</i>
      <%= @business.reviews.where(:good => true).count %>

      <i class='material-icons red-text'>thumb_down</i>
      <%= @business.reviews.where(:bad => true).count %>

      <p><%= @business.user.complete_name %></p>
      <p><%= @business.user.email %></p>
      <p><%= @business.user.phone %></p>
    </div>

    <div class='col s12 m2'> <%= link_to 'Edit', edit_business_path(@business), class: 'btn col s12 m12' %> </div>

    <div class='col s12 m12'>
      <h4>Services Offered</h4>
      <ul>
        <% @business.services.each do |s| %>
          <li><%= s.type %> </li>
        <% end %>
      </ul>

      <h4>Reviews</h4>
      <ul>
        <% @business.reviews.each do |review| %>
          <li>
            <%= render 'reviews/review', review: review %>
          </li>
        <% end %>

      </ul>  
    </div>


  </div>

</div>
