<%= form_for message do |f| %>
  <div class="input-field">
    <%= f.hidden_field :conversation_id, value: proposal.conversation.id %>

    <label for="Message">Message</label>
    <%= f.text_area :body, class: 'materialize-textarea' %>
  </div>

  <%= f.submit 'Send', class: 'btn' %>
<% end %>
