<h5>
  <%= proposal.request.service.type.capitalize %>
  <small>
    <%= link_to proposal_path(proposal), class: 'right' do %>
      <small>View Proposal</small>
    <% end %>
  </small>
</h5>
<div style='height:300px;overflow:scroll;' class='message-list-container row'>
  <ul>
    <% proposal.messages.each do |msg| %>
      <li>
        <div class="<%= msg.user == current_user ? 'right-align' : 'left-align' %>">
          <%= render msg, message: msg %>
        </div>
      </li>
    <% end %>
  </ul> 
</div>

