<div>
  <%= image_tag message.user.avatar_url, class: 'responsive-img circle', width: '30px;' %>
  <span>
    <%= message.body %>
  </span>
  <p><small><%= message.created_at.to_formatted_s(:short) %></small></p>
</div>

