<a href="<%= "##{proposal.id}" %>" class='message-tab'>
  <div class='col s4 m4'>
    <%= image_tag user.avatar_url, width: '40px', class: 'circle responsive-img' %>
  </div>

  <div class='col s8 m8 no-padding-left'>
      <% if proposal.business == user.business %>
        <p class='user-name'> <%= user.business.name %> </p>
        <span><%= user.first_name %></span>
      <% else %>
        <p class='user-name'><%= user.first_name %> </p>
      <% end %>
  </div>
</a>
