<div class='container'>
  <div class='row section'>
    <div class="tabs-vertical col s12 m12 l12">
      <div class='col s12 m4 l4'>
        <ul class='tabs'>
          <% if @business_proposals.any? %>
            <li class='header tab left-align grey-text'>Requests</li>
          <% end %>
          <% @business_proposals.each do |proposal| %>
            <% if proposal.messages.any? %>
              <% receiver = proposal.request.user %>
              <li class='tab tab-thumbnail'>
                <%= render 'tab_header', proposal: proposal, user: proposal.request.user %>
              </li>
            <% end %>
          <% end %>

          <% if @request_proposals.any? %>
            <li class='header tab left-align'>Proposals</li>
          <% end %>
          <% @request_proposals.each do |proposal| %>
            <% if proposal.messages.any? %>
              <li class='tab tab-thumbnail'>
                <%= render 'tab_header', proposal: proposal, user: proposal.business.user %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>

      <div class='col s12 m8 l8'>
        <% @business_proposals.each do |proposal| %>
          <% if proposal.messages.any? %>
            <div id="<%= proposal.id %>">
              <%= render 'list', proposal: proposal %>

              <div class='message-form'>
                <%= render 'form', message: @message, proposal: proposal %>
              </div>
            </div>
          <% end %>
        <% end %>

        <% @request_proposals.each do |proposal| %>
          <% if proposal.messages.any? %>
            <div id="<%= proposal.id %>" class='conversation-item'>
              <%= render 'list', proposal: proposal %>

              <div class='message-form'>
                <%= render 'form', message: @message, proposal: proposal %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>
