<div class='container'>
  <div class='row section'>
    <div class='col s12 offset-m3 m6'>
      <h4 class='center-align'>Sign up</h4>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.hidden_field :current_role, value: 'customer' %>
        <%= devise_error_messages! %>

        <div class="input-field col s12">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="input-field col s6 m6">
          <%= f.label :first_name %>
          <%= f.text_field :first_name %>
        </div>
        <div class="input-field col s6 m6">
          <%= f.label :last_name %>
          <%= f.text_field :last_name %>
        </div>

        <div class="input-field col s12">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off" %>
          <% if @minimum_password_length %>
            <em class='right'>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </div>

        <div class="input-field col s12">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="input-field col s12">
          <%= f.submit "Sign up", class: 'btn col s12 m12 btn-large' %>
        </div>
      <% end %>

      <div class='input-field col s12'>
        <%= render "devise/shared/links" %>
      </div>
    </div>

  </div>
</div>

