<h3>Welcome to Serbreeze.com</h3>

<p>
  <%= @greeting %> <%= @user.first_name %>
</p>

<p>
  Thank you for registering at Serbreeze. You can now reach out to the people around you for any requests you might need or to offer your services. Please read our start-up guide at <%= link_to 'How it Works', how_it_works_url %> to learn how to use Serbreeze best.

</p>
