.echo-slogan {
  padding-top: 120px;
}
.home-banner-section {
  background: image_url('home/banner.jpg') center 30% no-repeat;
  width: 100%;
  height: 600px;
  color: white;
}
.card-image img {
  width: 100%;
  min-height: 208px;
}
.build-your-business-section {
  background-color: #37474f;
  color: white;
  .build-your-business-text{
    padding: 20px 0 50px 0;
  }
}
.how-it-works-section .steps-container {
  padding-top: 20px;
}
