
.job-offer-form {
  .agreed-item {
    margin-bottom: 30px;
    .input-field {
      margin-top: 0px;
    }
  }
  .agreed-item.amount {

    .prefix {
      width: 4rem;

    }
    input.amount-input {
      margin-left: 4.5rem;
      width: calc(100% - 4.5rem);
      font-size: 2rem;
    }

  }
}
