.message-tab {
  .user-name {
    font-weight: 500;
    margin: 5px 0px 0px 0px;
  }
}
.message-main{
  .message-list {
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .message-footer {
    border-top: 1px solid #eee;
  }
  .conversation-title{
    text-transform: capitalize;
  }

}
