.proposal-show {
  .request-details {
    margin-top: 20px;
    .request-title {
      font-size: 18px;
    }
  }

  .proposal-details {
    .business-name {
      font-weight: bold;
      font-size: 22px;
    }
  }

}
