<div class='container'>
  <h3>Welcome <%= current_user.first_name %></h3>
  <div class='requests-section'>
    <h5>Requests</h5>
    <% @requests.each do |request| %>
      <div class='card'>
        <div class='card-content'>
          <strong><%= request.service.type.capitalize %></strong>
          <span class='right'><%= request.created_at.to_formatted_s(:short) if request.created_at %></span>
          <p> <%= request.location %>  </p>
          <br />
          <p><%= request.title %></p>
        </div>
        <div class='card-action right-align'>
          <% if @business.proposal(request) %>
            <%= link_to "View Proposal", proposal_path(@business.proposal(request)), class: 'btn ' %>
          <% else %>
            <%= link_to "Reply", new_proposal_path(request_id: request.id), class: 'btn ' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
