<div class='container'>
  <div class='requests-section'>
    <h4>Proposals</h4>
    <% @proposals.each do |proposal| %>
      <% request = proposal.request %>
      <div class='card'>
        <div class='card-content'>
          <strong><%= request.service.type.capitalize %></strong>
          <span class='right'><%= request.created_at.to_formatted_s(:short) if request.created_at %></span>
          <p> <%= request.location %>  </p>
          <br />
          <p><%= request.title %></p>
        </div>
        <div class='card-action right-align'>
          <%= link_to "View Proposal", proposal_path(proposal), class: 'btn ' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
