<!-- Modal Structure -->
<div id="js-locations-modal" class="modal">
  <div class="modal-content">
    <ul id="js-city-collection" class='collection'>
      <% location_options.each do |key, val| %>
        <% key = key.gsub(" ", "-") %>
        <li class='collection-item js-city-collection-item' onclick='showProvinceCollection("<%= key %>")'>
          <%= key %>
          <div class='secondary-content'>
            <i class='material-icons'>keyboard_arrow_right</i>
          </div>
        </li>
      <% end %>
    </ul>
    <% location_options.each do |key, val| %>
        <% key = key.gsub(" ", "-") %>
      <div id= "<%= "js-#{key}-collection" %>" class='js-province-collection hidden'>
        <button type='' class="btn btn-flat" onclick='backToCity("<%= key %>");'>
          <i class='material-icons'>keyboard_arrow_left</i>
          Back
        </button>

        <ul class='collection with-header'>
          <li class="collection-header"><h5><%= key %></h5></li>

          <% val.each do |province| %>
            <li class='collection-item' onclick='setLocation("<%= province %>", "<%= key %>")'> <%= province %> </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
