<%= form_for user do |f| %>
  <%= f.file_field :avatar %>
  <%= f.text_field :first_name %>
  <%= f.text_field :last_name %>
  <%= f.text_field :email %>
  <%= f.text_field :phone %>
  <%= f.submit 'Save', class: 'btn' %>
<% end %>
