<div class='container'>
  <div class='section'>
    <h5>Profile</h5>
    <%= image_tag @user.avatar_url, width: '200px' %>
    <p><%= @user.complete_name %></p>
    <p><%= @user.email %></p>
    <%= link_to 'Edit Profile', user_edit_profile_path(@user) %>
  </div>

  <div class='section'>
    <h5>My Activities</h5>
    <ul>
      <%= render_activities(@owner_activities) %>
    </ul>
  </div>
</div>

