// Layout
.padding-section {
  padding: 40px 0;
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
}

// Typography
.text-thin {
  font-weight: 300;
}

.clearfix {
  clear: both;
}
.hidden {
  display: none;
}
.clickable {
  cursor: pointer;
}
.no-margin {
  margin: 0px !important;
}
.no-padding {
  padding: 0px !important;
}
.no-padding-right {
  padding-right: 0px !important;
}
.no-padding-left {
  padding-left: 0px !important;
}
.no-padding-top {
  padding-top: 0px !important;
}
.no-padding-bottom {
  padding-bottom: 0px !important;
}
