<p id="notice"><%= notice %></p>

<h1>Request Images</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @request_images.each do |request_image| %>
      <tr>
        <td><%= link_to 'Show', request_image %></td>
        <td><%= link_to 'Edit', edit_request_image_path(request_image) %></td>
        <td><%= link_to 'Destroy', request_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request Image', new_request_image_path %>
