
<h4>You have received an application for your request.</h4>

<p>
  To view, please follow this <%= link_to 'link', proposals_customers_url(request_id: @proposal.request.id) %>. 
  You can negotiate with the applicants regarding the details of the request, delivery time and the final price.
</p>

