<div class='container'>
  <h3>Welcome <%= current_user.first_name %></h3>

  <div class='requests-section section'>
    <h5 class='teal-text'> Requests <span class='badge teal new' data-badge-caption="" style='float:none;font-size:1.3rem;margin-left:5px;'> <%= @requests.count %> </span> </h5>
    <% @requests.each do |request| %>
      <div class='row'>
        <div class='col s12'>
          <div class='card'>
            <div class='card-content'>
              <span class='card-title '><%= request.service.type.capitalize %> <span class='grey-text'>in</span> <%= request.location %></span>
              <small class='right'> <%= request.created_at.to_formatted_s(:short) if request.created_at %> </small>
              <% if request.proposals.count > 0 %>
                <strong class='grey-text'> <%= request.proposals.count %> proffesionals has reached out to you. </strong>
                <br />
                <% request.proposals.each do |proposal| %>
                  <div class="chip">
                    <img src=<%= "https://robohash.org/#{proposal.business.name.parameterize}"  %> alt="Contact Person">
                    <%= proposal.business.name %>
                  </div>
                <% end %>
              <% else %>
                <strong class='grey-text'> Reaching out to proffesionals</strong>
              <% end %>
            </div>

            <div class='card-action'>
              <% if request.proposals.count > 0 %>
                <%= link_to "View Request", proposals_customers_path(request_id: request) %>
              <% else %>
                <%= link_to "View Request", request_path(request) %>
              <% end %>

              <% if request.has_accepted_proposal? %>
                <%= link_to "Hired #{request.accepted_proposal.business.name}", proposal_path(request.accepted_proposal) %>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class='recommended-section section'>
    <h5 class='teal-text'>Do you also need?</h5>
    <div class='row'>
      <% @recommended_services.each do |service| %>
        <div class='col m4 s12'>
          <div class='card hoverable'>
            <div class='card-image'>
              <%= image_tag service.image.url %>
              <span class='card-title'><%= service.type.capitalize %></span>
            </div>

            <div class="card-action center-align">
              <%= link_to "REQUEST", new_request_path(service_type: service.type), class: 'btn grey lighten-3 black-text' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
