<div class='container customer-proposals'>
  <% breadcrumb :request_proposals, @request %>

  <div class="row section">
    <div class="tabs-vertical col s12 m12 l12 no-padding">
      <div class="col s12 m4 l4">
        <ul class="tabs">
          <% @proposals.each_with_index do |proposal, index|  %>
            <li class="tab tab-thumbnail">
              <a class="<%= 'active' if index.zero? %> row" href="<%= "##{proposal.id}" %>" >
                <div class='col s3'>
                  <%= image_tag proposal.business.image_url, class: 'circle responsive-img' %>

                </div>
                <div class='col s9'>
                  <%= proposal.business.name %>
                  <div>
                    <strong>PHP <%= number_to_currency(proposal.price_quotation, unit: '') %></strong>
                    <% if proposal.job_offer %>
                      <span class='right green-text'> ACCEPTED </span>
                    <% end %>
                  </div>
                </div>

              </a>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="col s12 m8 l8">
        <% @proposals.each do |proposal| %>
          <div id="<%= proposal.id %>" class="tab-content">
            <div class='proposal-details card'>
              <div class='card-content row'>

                <div class='col s12 m3'>
                  <%= image_tag proposal.business.image_url, class: 'responsive-img circle' %>
                </div>
                <div class='col s12 m9'>
                  <h4 class='col s12 m12 text-thin'><%= proposal.business.name %></h4>

                  <p class='col s12 m12'>
                    <i class="material-icons">perm_identity</i>
                    <%= proposal.business.user.complete_name %>
                  </p>

                  <p class='col s12 m6'>
                    <i class="material-icons">email</i>
                    <%= proposal.business.user.email %>
                  </p>

                  <p class='col s12 m6'>
                    <i class="material-icons">phone</i>
                    <%= proposal.business.user.phone %>
                  </p>
                </div>

                <div class='clearfix'> </div>

                <div class='clearfix'> </div>
                <br />
                <div class='col s6 m6 price-quote'>
                  <p>Price Quote</p>
                  <h5 class='teal-text'>$ <%= proposal.price_quotation %> <small class='grey-text'> (<%= proposal.payment_mode %> payment) </small> </h5>
                </div>
                <div class='col s6 m6 delivery-estimate'>
                  <p>Job Completion</p>
                  <div class='content teal-text'>Will be done within <%= proposal.job_delivery_estimate %> <%= proposal.job_delivery_estimate_unit %></div>
                </div>

                <div class='message col s12 m12' style='padding:15px 0px;'>
                  <p class='col s12 m12 proposal-message'><%= proposal.message %></p>  
                </div>

                <div class='col s12 m12'>
                  <% if proposal.job_offer %>
                    <%= link_to "View Job Offer", job_offer_path(proposal.job_offer), class: 'btn' %>
                  <% else %>
                    <%= link_to "Accept", new_job_offer_path(proposal_id: proposal), class: 'btn btn-large col s12 m4' %>
                  <% end %>
                </div>
              </div>
            </div>

            <div class='conversation'>
              <ul>
                <% proposal.messages.each do |msg| %>
                  <li>
                    <div class="<%= msg.user == current_user ? 'right-align' : 'left-align' %>">
                      <%= render msg, message: msg %>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>

            <div class='message-form'>
              <%= form_for @message do |f| %>
                <div class="input-field">
                  <%= f.hidden_field :proposal_id, value: proposal.id %>
                  <%= f.hidden_field :request_id, value: @request.id %>

                  <label for="Message">Message</label>
                  <%= f.text_area :body, class: 'materialize-textarea' %>
                </div>

                <%= f.submit 'Send', class: 'btn btn-link' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>

