<div class=''>
  <%= form_for(request) do |f| %>
    <% if request.errors.any? %>
      <div id="error_explanation">
        <h4><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h4>

        <ul>
          <% request.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.hidden_field(:service_id) %>

    <div class='input-field js-location-input-container'>
      <%= f.label :location %>
      <input type="text" name="" value="<%= f.object.location %>" id="js-modal-button", autocomplete='off', readonly='true' class='js-location-input'>
      <%= f.text_field :location, class: 'hidden js-location-input' %>
    </div>

    <div class='row'>
      <div class='input-field col s6 m3'>
        <%= f.select :min_price do %>
          <% [0, 250, 500, 1000, 3000, 5000, 7_000, 10_000, 15_000, 20_000].each do |c| -%>
            <%= content_tag(:option, (c.zero? ? 'Any' : number_to_currency(c, unit: '', precision: 0)), value: c) %>
          <% end %>
        <% end %>
        <label for="Min Price (PHP)">Min Price (PHP)</label>
      </div>

      <div class='input-field col s6 m3'>
        <%= f.select :max_price do  %>
          <% [0, 250, 500, 1000, 3000, 5000, 7_000, 10_000, 15_000, 20_000].each do |c| -%>
            <%= content_tag(:option, (c.zero? ? 'Any' : number_to_currency(c, unit: '', precision: 0)), value: c) %>
          <% end %>
        <% end  %>
        <label for="Max Price (PHP)">Max Price (PHP)</label>
      </div>

      <div class='input-field col s12 m6'>
        <%= f.select :payment_mode do %>
          <% [['One-time Payment', 'single'], ['Hourly', 'hourly'], ['Daily', 'daily'], ['Monthly', 'monthly']].each do |c| -%>
            <%= content_tag(:option, c.first, value: c.last) %>
          <% end %>
        <% end %>
        <label for="Payment mode">Payment mode</label>
      </div>
    </div>

    <div class='row'>
      <div class='input-field col s6 m6'>
        <%= f.select(:job_completion)  do %>
          <% (0..20).each do |c| -%>
            <%= content_tag(:option, (c.zero? ? 'Any' : c), value: c) %>
          <% end %>
        <% end %>
        <%= f.label :job_completion %>
      </div>
      <div class='input-field col s6 m6'>
        <%= f.select(:job_completion_unit)  do %>
          <% [['Days', 'day'], ['Months', 'month']].each do |c| -%>
            <%= content_tag(:option, c.first, value: c.last) %>
          <% end %>
        <% end %>
        <label for="job_completion_unit">Days/Months</label>
      </div>
    </div>

    <p class=''>
      <%= f.label :start_date %>
      <%= f.date_field :start_date, class: 'datepicker' %>
    </p>

    <div class='input-field'>
      <label for="">Details</label>
      <%= f.text_area :description, class: 'materialize-textarea', placeholder: 'Add specific details about your request.' %>
    </div>

    <% request.request_images.each do |ri| %>
      <div>
        <%= image_tag ri.image.url  %>
        <%= link_to 'Delete', request_image_path(ri), method: :delete %>
      </div>
    <% end %>

    <div class='file-field input-field'>
      <div class='btn'>
        <i class='medium material-icons'> add_a_photo </i>
        <%= f.file_field :images, multiple: true %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Upload images">
      </div>
    </div>

    <% if !current_user %>
      <% if request.user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(request.user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% request.user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.fields_for request.user do |user| %>
        <div class='input-field'>
          <%= user.label :first_name  %>
          <%= user.text_field :first_name %>
        </div>


        <div class='input-field'>
          <%= user.label :last_name %>
          <%= user.text_field :last_name %>
        </div>


        <div class='input-field'>
          <%= user.label :phone %>
          <%= user.text_field :phone %>
        </div>


        <div class='input-field'>
          <%= user.label :email %>
          <%= user.text_field :email %>
        </div>


        <div class='input-field'>
          <%= user.label :password %>
          <%= user.password_field :password %>
        </div>

      <% end %>
    <% end %>

    <div class="actions">
      <%= f.submit 'Send', class: 'btn col s12 m3 btn-large' %>
    </div>
  <% end %>

</div>
<%= render 'partials/locations_modal' %>

