<div class=''>
  <div class='card small'>
    <div class='card-content'>
      <p class='looking-for-text grey-text'><i class='material-icons grey-text small'>record_voice_over</i> Looking for</p>
      <h5>  <%= request.service.type.capitalize %></h5>
      <strong><p><span class='grey-text'>in </span> <%= request.location %>  </p></strong>
      <strong><p> <span class='grey-text'> for  </span> PHP <%= number_to_currency(request.min_price, unit: '') %> - <%= number_to_currency(request.max_price, unit: '') %>  </p></strong>
      <strong><span class='grey-text'> Needed on </span> <%= request.start_date %></strong>
      <br />
    </div>
    <div class='card-action '>
      <span class='grey-text left'><%= request.created_at.to_formatted_s(:short) if request.created_at %></span>
      <div class='right'>
        <% if request.job_offer %>
          <p class='green-text'>ALREADY HIRED SOMEONE</p>
        <% else %>

          <% if current_user %>
            <% if current_user.business && current_user.business.proposal(request).nil? %>
              <%= link_to "Apply", new_proposal_path(request_id: request.id), class: 'btn ' %>
            <% elsif current_user.business  %>
              <%= link_to 'Proposal Submitted', proposal_path(current_user.business.proposal(request)), style: 'margin-right:0px;' %>
            <% else %>
              <%= link_to "Apply", new_business_path(request_id: request.id), class: 'btn ' %>
            <% end %>
          <% else %>
            <%= link_to "Apply", new_business_path(request_id: request.id), class: 'btn ' %>
          <% end %>

        <% end %>
      </div>
    </div>
  </div>
</div>
