<div class='col s12 m12'>
  <div class='card small'>
    <div class='card-content'>
      <span class='card-title '><%= request.service.type.capitalize %> <span class='grey-text'>in</span> <%= request.location %></span>
      <p> <%= request.created_at.to_formatted_s(:short) if request.created_at %> </p>
      <% if request.proposals.count > 0 %>
        <strong class='grey-text'> <%= request.proposals.count %> proffesionals has reached out to you. </strong>
        <br />
        <% request.proposals.each do |proposal| %>
          <div class="chip">
            <%= image_tag proposal.business.image_url %>
            <%= proposal.business.name %>
          </div>
        <% end %>
      <% else %>
        <strong class='grey-text'> Reaching out to proffesionals</strong>
      <% end %>
      <% if request.job_offer %>
        <br />
        <br />
        <% if request.job_offer.status == 'pending' %>
          <%= link_to "Pending job offer for #{request.job_offer.proposal.business.name}", job_offer_path(request.job_offer) %>
        <% elsif request.job_offer.status == 'active'  %>
          <%= link_to "Hired #{request.job_offer.proposal.business.name}", proposal_path(request.job_offer.proposal) %>
        <% end %>

      <% end %>
    </div>

    <div class='card-action'>
      <% if request.proposals.count > 0 %>
        <%= link_to "View", proposals_request_path(request) %>
      <% else %>
        <%= link_to "View", request_path(request) %>
      <% end %>
    </div>

  </div>
</div>
