<div class='container section'>
  <h4 class='text-thin col s12 m12'>Editing Request</h4>

  <%= render 'form', request: @request %>

  <%= link_to 'Show', @request %> |
  <%= link_to 'Back', requests_path %> 
</div>

