<div class='container others-requests'>
  <% if current_user %>
    <div class='row section'>
      <div class='col s12 m12'>
        <div class='tabs tab-redirect card'>
          <li class="tab col s3"><%= link_to 'My Requests', owner_requests_path %></li>
          <li class="tab col s3 active"><%= link_to 'Customers Request', requests_path, class: 'active' %></li>
        </div>
      </div>
    </div>
  <% end %>

  <div class='row section search-form-section'>
    <%= form_tag requests_path, method: :get do %>
      <div class='input-field js-location-input-container col m4 s12'>
        <i class="material-icons prefix">place</i>
        <label for="js-modal-button">Location</label>
        <input type="text" name="" value="<%= params[:location] %>" id="js-modal-button", autocomplete='off', readonly='true' class='js-location-input'>
        <%= text_field_tag :location, params[:location], class: 'hidden js-location-input' %>
      </div>


      <div class='input-field col m5 s12'>
        <%= react_component('services/autoCompleteServiceInput', { value: params[:service] }, class: 'input') %>
      </div>


      <div class='input-field col m3 s12'>
        <%= submit_tag 'Search', class: 'btn col s12' %>
      </div>
    <% end %>
  </div>

  <div class='row other-request-section section'>
    <% @other_requests.each do |request| %>
      <div class='col s12 m6'>
        <%= render 'guest_request', request: request %>
      </div>
    <% end %>
  </div>
</div>

<%= render 'partials/locations_modal' %>
