<div class='container'>
  <div class='row'>
    <div class='col s12 m12'>
      <div class="card horizontal">
        <div class="card-image">
          <%= image_tag @request.service.image.url, style: 'width: 120px; min-height: 120px;' %>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <strong>Request  <span class='grey-text'> for </span> <%= params[:service_type] %> service</strong>
          </div>
        </div>
      </div>
    </div>
    <div class='col s12 m12'>
      <br />
      <%= render 'form', request: @request %>
    </div>


  </div>
</div>

