<div class='container my-requests'>
  <div class='row section'>
    <div class='col s12 m12'>
      <div class='tabs tab-redirect card'>
        <li class="tab col s3 active"><%= link_to 'My Requests', owner_requests_path, class: 'active' %></li>
        <li class="tab col s3"><%= link_to 'Customers Request', requests_path %></li>
      </div>
    </div>
  </div>

  <div class='row requests-section section'>
    <div class='row'>
      <% @my_requests.each do |request| %>
        <div class='col s12 m6'>
          <%= render 'owner_request', request: request %>
        </div>
      <% end %>
    </div>
  </div>

  <div class='recommended-section section'>
    <h5 class='teal-text'>Do you also need?</h5>
    <div class='row'>
      <% @recommended_services.each do |service| %>
        <div class='col m4 s12'>
          <%= link_to new_request_path(service_type: service.type) do %>
            <div class='card hoverable'>
              <div class='card-image'>
                <%= image_tag service.image.url %>
                <span class='card-title'><%= service.type.capitalize %></span>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>
