<div class='container customer-proposals'>
  <% breadcrumb :request_proposals, @request %>


  <ul class="collection">
    <% @proposals.each do |proposal| %>
      <%= link_to proposal_path(proposal), class: 'collection-item avatar' do %>
        <%= image_tag proposal.business.image_url, class: 'circle responsive-img' %>
        <strong class="title"><%= proposal.business.name %></strong>
        <p class='grey-text'>
          <%= proposal.business.user.complete_name %>
          <br />
          <%= proposal.messages.count %>
          <i class='material-icons'>message</i>

        </p>

        <div class="secondary-content">
          <strong>PHP <%= number_to_currency(proposal.price_quotation, unit: '') %></strong>
          <div class='content grey-text'>Done within <%= proposal.job_delivery_estimate %> <%= proposal.job_delivery_estimate_unit %></div>
          <div class='grey-text'>
            <% if proposal.job_offer %>
              <span class='green-text'> ACCEPTED </span>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </ul>

</div>
