<div class='container'>
  <div class='whats-next-section'>
    <h4 class='text-thin'>Whats next?</h4>
    <p> Your request has been completed. Thank you for posting! </p>
    <p> Users around you can soon view and respond to your request. To be most secured, please conduct all communications through our messaging system. </p>
  </div>

  <div class='request-summary-section section'>
    <h4 class='text-thin'>Request Summary</h4>

    <label for="">Location</label>
    <p><%= @request.location %></p>
    <label for="">Details</label>
    <p><%= @request.description %></p>
    <label for="">Start Date</label>
    <p><%= @request.start_date %></p>
    <label for="Price Range">Price Range</label>
    <p><%= "PHP #{number_to_currency(@request.min_price, unit: '', precision: 0)} - #{number_to_currency(@request.max_price, unit: '', precision: 0)}" %></p>
    <label for="">Job Completion</label>
    <p><%= "#{@request.job_completion} #{@request.job_completion_unit}" %></p>

    <% @request.request_images.each do |rm| %>
      <%= image_tag rm.image.url %>
    <% end %>
  </div>

  <div class='center-align'>
    <%= link_to 'Edit request', edit_request_path(@request) %> | <%= link_to 'View your requests', owner_requests_path %>
    <br />
  </div>

</div>

