<div class='page-content'>
  <div class='home-banner-section valign-wrapper'>
    <div class='text  center-block'>
      <h3 class='echo-slogan text-thin'> Finding local services has never been easier.  </h3>


      <div class=''>
        <%= react_component("services/searchServiceInput", {placeholder: 'What do you need?', redirect_on_select: 'true'} , class: 'input-field') %>
      </div>

    </div>
  </div>

  <div class='how-it-works-section section center-align grey lighten-4'>
    <h4 class='grey-text text-darken-1 text-thin'> How it works </h4>
    <div class='row steps-container container'>
      <div class='how-it-work-step col m4 s4'>
        <i class='teal-text text-lighten-1 material-icons large'>record_voice_over</i>
        <p> Request </p>
      </div>

      <div class='how-it-work-step col m4 s4'>
        <i class='teal-text text-lighten-1 material-icons large'>question_answer</i>
        <p> Negotiate </p>
      </div>

      <div class='how-it-work-step col m4 s4'>
        <i class='teal-text text-lighten-1 material-icons large'>book</i>
        <p> Book </p>
      </div>
    </div>
  </div>

  <div class='service-areas-section padding-section'>
    <h4 class='center-align grey-text text-darken-1 text-thin'> Services you can find.  </h4>

    <div class='home-service-container row'>
      <h5 class='col s12 m12'>
        <i class='material-icons small'>home</i>
        Home
        <small class='right'>
          <%= link_to "VIEW ALL", area_services_path(area: 'home') %>
        </small>
      </h5>
      <div class='slick col s12 m12'>
        <% @home_services.each do |key, val| %>
          <div class='slick-item'>
            <% if val.count > 1 %>
              <%= render 'services/category_preview', service: val.first %>
            <% else %>
              <%= render 'services/type_preview', service: val.first %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class='events-service-container row'>
      <h5 class='col s12 m12'>
        <i class='material-icons'>cake</i>
        Events
        <small class='right'>
          <%= link_to "VIEW ALL", area_services_path(area: 'events') %>
        </small>
      </h5>
      <div class='slick col s12 m12'>
        <% @events_services.each do |key, val| %>
          <div class='slick-item'>
            <% if val.count > 1 %>
              <%= render 'services/category_preview', service: val.first %>
            <% else %>
              <%= render 'services/type_preview', service: val.first %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class='self-service-container row'>
      <h5 class='col s12 m12'>
        <i class='material-icons'>pool</i>
        Self
        <small class='right'>
          <%= link_to "VIEW ALL", area_services_path(area: 'self')%>
        </small>
      </h5>
      <div class='slick col s12 m12'>
        <% @self_services.each do |key, val| %>
          <div class='slick-item'>
            <% if val.count > 1 %>
              <%= render 'services/category_preview', service: val.first %>
            <% else %>
              <%= render 'services/type_preview', service: val.first %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>


  </div>

  <div class='build-your-business-section center-align'>
    <div class='build-your-business-text'>
      <h3 class='mdl-typography--display-2 mdl-typography--font-thin'>
      Increase your business potential
      </h3>
      <p class='mdl-typography--headline mdl-typography--font-thin'>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Mauris sagittis pellentesque.
      </p>

      <%= link_to "Register you business", new_business_path, class: 'waves-effect waves-light btn btn-large' %>
    </div>

  </div>

  <div class='peoples-request-section padding-section'>
    <h4 class='mdl-typography--display-2  center-align text-thin'>
      People looking for services
    </h4>
    <div class='row'>
      <% @requests.each do |request| %>
        <div class='col s12 m4'>
          <%= render 'requests/guest_request', request: request %>
        </div>
      <% end %>
    </div>
    <div class='center-align'>
      <%= link_to requests_path do %>
        <h4 class='text-thin'>Show all</h4>
      <% end %>
    </div>
  </div>

</div>

