<h4> You have successfully applied for a request. </h4>

<p>
Please wait for a reply from <%= @proposal.request.user.first_name %>.
You can negotiate the details of the request, delivery time and final price directly with <%= @proposal.request.user.first_name %>.
</p>

<p>To view all your applications please follow this <%= link_to 'LINK', owner_proposals_url %>. Thank you.</p></p>

