<div class='container'>
  <div class='row'>
    <div class='col s12 offset-m3 m6'>
      <h3 class='center-align'>Log in</h3>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="input-field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="input-field">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="input-field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="input-field">
          <%= f.submit "Log in", class: 'btn btn-large col s12 m12' %>
        </div>
      <% end %>

      <br />
      <br />
      <br />
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>

