<div class='row'>
  <%= form_for(proposal) do |f| %>
    <%= f.hidden_field :request_id %>
    <% if proposal.errors.any? %>
      <div id="error_explanation">
        <p><%= pluralize(proposal.errors.count, "error") %> prohibited this proposal from being saved:</p>

        <ul>
          <% proposal.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class='input-field col s6 m6'>
      <%= f.label :price_quotation, 'Price Quotation (PHP)' %>
      <%= f.text_field :price_quotation, autofocus: true %>
    </div>

    <div class='input-field col s6 m6'>
      <%= f.select :payment_mode, class: 'select' do %>
        <% [['One-time Payment', 'single'], ['Hourly', 'hourly'], ['Daily', 'daily'], ['Monthly', 'monthly']].each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>
      <%= f.label :payment_mode %>
    </div>

    <div class='input-field col s6 m6'>
      <%= f.select :job_delivery_estimate do %>
        <% (0..29).each do |c| -%>
          <%= content_tag(:option, (c.zero? ? 'Any' : number_to_currency(c, unit: '', precision: 0)), value: c) %>
        <% end %>
      <% end %>
      <%= f.label :job_delivery_estimate %>
    </div>

    <div class='input-field col s6 m6'>
      <%= f.select :job_delivery_estimate_unit do %>
        <% [['Days', 'days'], ['Hours', 'hours'], ['Months', 'months']].each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>
      <%= f.label :job_delivery_estimate_unit, 'Hours/Days/Months' %>
    </div>

    <div class='input-field col s12'>
      <%= f.label :message %>
      <%= f.text_area :message, class: 'materialize-textarea' %>
    </div>



    <div class="input-field col s12">
      <%= f.submit 'Submit', class: 'btn btn-large col s12 m6 l6' %>
    </div>
  <% end %>
</div>

