<% proposals.each do |proposal| %>
  <% request = proposal.request %>
  <div class='card'>
    <div class='card-content'>
      <strong><%= request.service.type.capitalize %></strong>
      <span class='right'><%= request.created_at.to_formatted_s(:short) if request.created_at %></span>
      <p> <%= request.location %>  </p>
      <br />
      <%= number_to_currency(proposal.price_quotation, unit: 'PHP') %>
      <%= proposal.payment_mode %> payment

      <p>
        Complete within
        <%= proposal.job_delivery_estimate %>
        <%= proposal.job_delivery_estimate_unit %>
      </p>

      <br />
      <% if proposal.job_offer %>
          <% msg = proposal.job_offer.is_accepted ? 'JOB OFFER ACCEPTED' : 'This proposal has received a JOB OFFER'%>
          <strong class='teal-text'> <%= link_to msg, job_offer_path(proposal.job_offer) %></strong>
      <% end %>

    </div>
    <div class='card-action'>
      <%= link_to "View Proposal", proposal_path(proposal) %>
    </div>
  </div>
<% end %>
