<div class='container'>

  <div class='row section'>
    <div class='col s12 m12'>
      <div class='tabs tab-redirect card'>
        <li class="tab col s3 "><%= link_to 'My Proposals', owner_proposals_path %></li>
        <li class="tab col s3 active"><%= link_to 'Proposal for me', proposals_path, class: 'active' %></li>
      </div>
    </div>
  </div>

  <div class='offered-proposals-section'>
    <%= render 'guest_proposal', proposals: @offered_proposals %>
  </div>

</div>
