<% breadcrumb :new_proposal, @proposal %>

<div class='container proposal-show'>
  <div class='row'>
    <div class='col s12 m6 request-details'>
      <div class='col s12 m2 request-image'>
        <%= image_tag @request.user.avatar_url, class: 'circle responsive-img' %>
      </div>
      <div class='col s12 m10'>
        <p class='request-title'>
        <%= @request.user.complete_name %> <span class='grey-text'> is looking for </span><br /> <%= @request.service.type.capitalize %>
        </p>
      </div>
      <div class='clearfix'> </div>

      <strong><p><span class='grey-text'>in </span> <%= @request.location %>  </p></strong>
      <strong><p> <span class='grey-text'> for  </span> PHP <%= number_to_currency(@request.min_price, unit: '') %> - <%= number_to_currency(@request.max_price, unit: '') %>  </p></strong>
      <strong><span class='grey-text'> Needed on </span> <%= @request.start_date %></strong>
      <br />
      <br />
      <p><%= @request.description %></p>
    </div>

    <div class='col s12 m6'>
      <h4>Proposal</h4>
      <%= render 'form', proposal: @proposal %>
    </div>
  </div>
</div>

