<div class='container'>

  <div class='row section'>
    <div class='col s12 m12'>
      <div class='tabs tab-redirect card'>
        <li class="tab col s3 active"><%= link_to 'My Proposals', owner_proposals_path, class: 'active' %></li>
        <li class="tab col s3"><%= link_to 'Proposal for me', proposals_path %></li>
      </div>
    </div>
  </div>

  <div class='offered-proposals-section'>
    <div class='row'>
      <div class=' col s12 m12 right-align'>
        <%= link_to 'Search for customers', requests_path, class: ' btn' %>
      </div>
    </div>
    <%= render 'owner_proposal', proposals: @my_proposals %>
  </div> 

</div>
