<% breadcrumb :show_proposal, @proposal %>

<div class='container proposal-show'>
  <% if @proposal.job_offer && @proposal.request.user == current_user %>
    <div class="col s12 m12">
      <div class="card-panel teal">
        <span class="white-text">
          We have notified the service provider of your booking. You can contact the service provider or message him below for more details.
        </span>
      </div>
    </div>
  <% end %>

  <div class='row col s12 m12 section'>
    <div class='col s12 m6 request-details'>
      <div class='col s12 m2 request-image'>
        <%= image_tag @request.user.avatar_url, class: 'circle responsive-img' %>
      </div>
      <div class='col s12 m10'>
        <p class='request-title'>
          <%= @request.user.complete_name %> <span class='grey-text'> is looking for </span><br /> <%= @request.service.type.capitalize %>
        </p>
      </div>
      <div class='clearfix'> </div>

      <strong><p><span class='grey-text'>in </span> <%= @request.location %>  </p></strong>
      <strong><p> <span class='grey-text'> for  </span> PHP <%= number_to_currency(@request.min_price, unit: '') %> - <%= number_to_currency(@request.max_price, unit: '') %>  </p></strong>
      <strong><span class='grey-text'> Needed on </span> <%= @request.start_date %></strong>
      <br />
      <br />
      <p><%= @request.description %></p>
    </div>

    <div class='card col s12 m6 proposal-details'>
      <div class='col s12 m12'>
        <h4 class='text-thin'>Proposal</h4>
        <span class='business-name'><%= @business.name %></span>
      </div>
      <div class='col s12 m4'>
        <%= image_tag @business.image_url, class: 'responsive-img' %>
      </div>
      <div class='col s12 m8'>
        <p> <i class='material-icons'>person</i> <%= @business.user.complete_name %></p>
        <p> <i class='material-icons'>email</i> <%= @business.user.email %></p>
      </div>

      <div class='col s12 m12'>
        <strong for="">Price Quote </strong>
        <p> <%= number_to_currency(@proposal.price_quotation, unit: 'PHP') %> (<%= @proposal.payment_mode %> payment)</p>

        <strong for="Job delivery estimate">Job delivery estimate</strong>
        <p><%= @proposal.job_delivery_estimate %> <%= @proposal.job_delivery_estimate_unit %></p>

        <strong for="Message">Message</strong>
        <p><%= @proposal.message %></p>  
      </div>
      
    </div>
  </div>

  <div class='row'>
    <div class='col s12 m12'>
      <ul>
        <% @messages.each do |msg| %>
          <li>
            <div class="<%= msg.user == current_user ? 'right-align' : 'left-align' %>">
              <%= render msg, message: msg %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class='col s12 m12'>
      <%= render 'messages/form', message: @message, proposal: @proposal %>
    </div>
  </div>

</div>
