<div class='job-offer-form'>
  <%= form_for(job_offer) do |f| %>
    <% if job_offer.errors.any? %>
      <div id="error_explanation">
        <h4><%= pluralize(job_offer.errors.count, "error") %> prohibited this job_offer from being saved:</h4>

        <ul>
          <% job_offer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.hidden_field :proposal_id, value: params[:proposal_id] %>

    <div class='agreed-item row'>
      <strong class='col s12 m4'>THE PARTIES:</strong>
      <p class='class col s12 m8'>
        Requester: <%= @proposal.request.user.complete_name.upcase %>
        <br />
        Worker: <%= @proposal.business.name.upcase %>
      </p>
    </div>

    <div class='agreed-item row'>
      <div class='col s12 m4'>
        <strong>THE JOB:</strong>
      </div>
      <div class='col s12 m8'>
        <%= @proposal.request.service.type.capitalize %>
      </div>
    </div>

    <div class='agreed-item amount row'>
      <div class='col s12 m4'>
        <strong>THE AMOUNT:</strong>
      </div>

      <div class='col s12 m4'v>
        <div class='input-field'>
          <span class='prefix'> PHP </span>
          <%= f.text_field :agreed_price, value: @proposal.price_quotation, class: 'amount-input' %>
        </div>
      </div>

      <div class='col s12 m4'>
        <div class='input-field'>
          <%= f.select :agreed_payment_mode, class: 'select' do %>
            <% [['One-time Payment', 'single'], ['Hourly', 'hourly'], ['Daily', 'daily'], ['Monthly', 'monthly']].each do |c| -%>
              <%= content_tag(:option, c.first, value: c.last, selected: (c.last == @proposal.payment_mode)) %>
            <% end %>
          <% end %>
          <%= f.label :agreed_payment_mode %>
        </div>
      </div>

      <div class='col s12 m8 offset-m4'>
        <p class='grey-text'>
        Both parties agree on the amount above to be paid in full by <strong><%= @proposal.request.user.complete_name %></strong> to <strong><%= @proposal.business.name %></strong> when the job is completed including the deliverable if there is any. The amount specified above is for the entire work done with no subtractions or additional fees.
        </p>
      </div>

    </div>

    <div class='agreed-item row'>
      <strong class='col s12 m4'>THE TIME:</strong>


        <div class='input-field col s6 m4'>
          <%= f.select :agreed_job_completion do %>
            <% (0..29).each do |c| -%>
              <%= content_tag(:option, (c.zero? ? 'Any' : c), value: c, selected: (c == @proposal.job_delivery_estimate.to_i)) %>
            <% end %>
          <% end %>
          <%= f.label :agreed_job_completion %>
        </div>

        <div class='input-field col s6 m4'>
          <%= f.select :agreed_job_completion_unit do %>
            <% [['Days', 'days'], ['Hours', 'hours'], ['Months', 'months']].each do |c| -%>
              <%= content_tag(:option, c.first, value: c.last, selected: (c.last == @proposal.job_delivery_estimate_unit)) %>
            <% end %>
          <% end %>
          <%= f.label :agreed_job_completion_unit, 'Hours/Days/Months' %>
        </div>
        <p class='grey-text col s12 m8 offset-m4'> Both parties agree that the job must be completed including the deliverable if there is any within [insert hours/days] from now.  </p>
    </div>


    <div class="input-field row">
      <div class='col s12 m8 offset-m4'>
        <%= f.submit 'Send', class: 'btn col s12 m4 btn-large' %>
      </div>
    </div>
  <% end %>

</div>
