<% breadcrumb :new_job_offer, @job_offer %>
<% requester = @job_offer.request.user %>
<% business = @job_offer.proposal.business %>
<div class='container section'>
  <h4 class='text-thin'> Job Offer <small class='grey-text'><%= @job_offer.status.capitalize %></small></h4>
  <p class='grey-text'>
    Job order id #<%= @job_offer.id.to_s[0..5] %> as of <%= @job_offer.created_at.to_date %>
  </p>

  <div class='agreed-item row'>
    <strong class='col s12 m4'>THE PARTIES:</strong>
    <div class='class col s12 m8'>
      <p> Requester: <strong><%= @job_offer.request.user.complete_name.upcase %></strong> </p>

      <p>
        Worker:
        <strong> <%= @job_offer.proposal.business.name.upcase %> </strong>
        <% if @job_offer.is_accepted %>
          <span class='green-text'> (ACCEPTED AT <%= @job_offer.accepted_at.to_date %>) </span>
        <% else %>
          <span class='grey-text'> (Waiting to Accept) </span>
        <% end %>
      </p>
    </div>
  </div>

  <div class='agreed-item row'>
    <div class='col s12 m4'>
      <strong>THE JOB:</strong>
    </div>
    <div class='col s12 m8'>
      <strong><%= @job_offer.request.service.type.capitalize %></strong>
    </div>
  </div>

  <div class='agreed-item amount row'>
    <div class='col s12 m4'>
      <strong>THE AMOUNT:</strong>
    </div>

    <div class='col s12 m8'v>
      <div class=''>
        <strong class=''> <%= number_to_currency(@job_offer.agreed_price, unit: 'PHP') %></strong>
      </div>
      <p class='grey-text'>
      Both parties agree on the amount of <strong><%= number_to_currency(@job_offer.agreed_price, unit: 'PHP') %></strong> to be paid in full by <strong><%= requester.complete_name %></strong> to <strong><%= business.name %></strong> when the job is completed including the deliverable if there is any. The amount specified above is for the entire work done with no subtractions or additional fees.
      </p>
    </div>
  </div>

  <div class='agreed-item row'>
    <strong class='col s12 m4'>THE TIME:</strong>
    <div class='col s12 m8'>
      <div class=''>
        <strong><%= @job_offer.agreed_job_completion %> <%= @job_offer.agreed_job_completion_unit %></strong>
      </div>
      <p class='grey-text'> Both parties agree that the job must be completed including the deliverable if there is any within <strong><%= @job_offer.agreed_job_completion %> <%= @job_offer.agreed_job_completion_unit %></strong> from now.  </p>
    </div>
  </div>

  <div class='center-align'>
    <% if !@job_offer.is_accepted && current_user == @job_offer.worker %>
      <%= link_to 'ACCEPT OFFER', accept_job_offer_path(@job_offer), class: 'btn btn-large', method: :post %>
    <% end %>
  </div>

</div>

