
nav ul a, nav .brand-logo, nav .button-collapse, nav .tabs .tab a, nav .tabs .tab a.active {
  color: #37474f;
}

nav .nav-content.lower-nav {
  border-top: 1px solid #eee;
  line-height: 56px;
  height: 56px;
}

nav .brand-logo, .brand-logo img {
  height: 100%;
}

nav {
  .nav-wrapper.row{
    margin-bottom: 0px !important;
  }

  .button-collapse {
    margin: 0px 0px 0px 18px;

  }
  input[type="search"] {
    height: 65px !important; /* or height of nav */
    margin-bottom: 0px;
  }
  label i.search-icon {
    color: black !important;
  }
  i.alert{
    font-size: 35px;
  }
  .notification-badge {
    position: absolute;
    top: 17px;
    left: 29px;
    height: 14px !important;
    line-height: 20px !important;
    min-width: 1rem !important;
    border: 1px solid white;
    border-radius: 100px !important;
  }
  .notif-link {
    position: relative;
  }
}


