.tabs-vertical {
  .tabs {
    height: auto;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
    display: flex;
    padding-top: 20px;
  }

  .tab {
    width: 100%;
    margin-bottom: 10px;

    .message-tab{
      color: $secondary-text-color;
    }

    a {
      padding: 0px 10px;
    }

    .active {
      -moz-transition: border-color .5s ease;
      -o-transition: border-color .5s ease;
      -webkit-transition: border-color .5s ease;
      transition: border-color .5s ease;
      border-right: 3px solid $primary-color;
      font-weight: bold;


    }

    //a:hover {
      //border-right: 3px solid #eeeeee;
    //}

    &.header {
      text-align: left;
      padding-left: 10px;
    }


    &.tab-thumbnail {
      text-align: left;
      line-height: 20px;

      a {
        &:hover {
          border-right: 3px solid #eeeeee;
        }
      }
    }

    .tab-content {
      width: 100%;
    }

  }

  .indicator {
    display: none;
  }
}

.tabs.tab-redirect {
  .tab.active {
    border-bottom: 3px solid $primary-color
  }
}
