span.twitter-typeahead {
  display: inherit !important;
}

input.typeahead.tt-input {
  vertical-align: initial !important;
}

.input-field .twitter-typeahead + label:after {
  display: block;
  content: "";
  position: absolute;
  top: 65px;
  opacity: 0;
  transition: 0.2s opacity ease-out, 0.2s color ease-out;
}

.input-field .twitter-typeahead ~ .material-icons {
  position: absolute;
  top: 0;
  right: 1rem;
  color: transparent;
  cursor: pointer;
  font-size: 2rem;
  transition: 0.3s color;
}

.input-field .twitter-typeahead + label {
  left: 1rem;
}

.tt-menu {
    width: 100%;
    min-width:200px;
    max-width:100%;
    background:#fff;
    -webkit-box-shadow:0 2px 5px rgba(0,0,0,.35);
    -moz-box-shadow:0 2px 5px rgba(0,0,0,.35);
    box-shadow:0 2px 5px rgba(0,0,0,.35)
}
.twitter-typeahead .tt-hint {
  color: grey;
}
.tt-menu .tt-suggestion {
  width: 100%;
  line-height:2.7rem !important;
  padding:2px 10px !important;
  height: 50px;
  color: black;
  cursor: pointer;
}
.tt-menu .tt-cursor {
    background:#03a9f4;color:#fff
}
.home-banner-section {
  .twitter-typeahead .tt-hint {
    color: #eeeeee;
  }
  .twitter-typeahead .tt-input {
    color: #ffffff;
    &:focus {
      color: white;
    }
  }
}
