@import "materialize/components/color";
$primary-color-dark:   #1976D2;
$primary-color:        #2196F3 !default;
$primary-color-light:  #BBDEFB !default;
$primary-color-text:   #FFFFFF;
$primary-text-color:   #212121;

$accent-color:         #FF4081;
$secondary-color:      #2196F3 !default;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
@import 'materialize';

@import 'slick-carousel/slick/slick.scss';
@import 'slick-carousel/slick/slick-theme.scss';


// BODY
@import 'base/body';
@import 'base/font';
@import 'base/reset';
@import 'base/utils';

// COMPONENTS
@import 'components/buttons';
@import 'components/icons';
@import 'components/navbar';
@import 'components/tabs';
@import 'components/typahead';
@import 'components/form';
@import 'components/banner';

// PAGES
@import 'pages/customer_proposals';
@import 'pages/home';
@import 'pages/job_offer';
@import 'pages/messages';
@import 'pages/proposal_show';
@import 'pages/requests';
