<%= form_for(review) do |f| %>
  <%= f.hidden_field :business_id %>
  <%= f.hidden_field :user_id %>

  <% if review.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h4>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= react_component('reviews/thumbsUpDownForm') %>
  <%= f.label :message, 'Your comments' %>
  <%= f.text_area :message, class: 'material-textarea' %>

  <div class="">
    <%= f.submit 'Submit', class: 'btn btn-large col s12 m4' %>
  </div>
<% end %>
