<div class='card'>
  <div class='card-content row'>
    <div class='col s12 m3'>
      <div class='col s3'>
        <% if review.user %>
          <%= image_tag review.user.avatar_url, class: 'circle responsive_img', width: '45' %>
        <% else %>
          <i class='material-icons grey-text' style='font-size:40px;'>account_circle</i>
        <% end %>
      </div>
      <div class='col s9'>
        <% if review.user %>
          <strong><%= review.user.first_name %></strong>
        <% else %>
          <strong>Anonymous</strong>
        <% end %>
      </div>
      <br />
      <br />
    </div>

    <div class='col s12 m9'>
      <% if review.good  %>
        <i class='material-icons green-text'>thumb_up</i>
      <% else %>
        <i class='material-icons red-text'>thumb_down</i>
      <% end %>
      <span class='grey-text'><%= review.created_at.strftime("%m/%d/%Y") %>  </span>
      <p><%= review.message %></p>
    </div>

  </div>
</div>
