<div class='container'>
  <p id="notice"><%= notice %></p>

  <h4>Reviews</h4>
  <p>Reviews are important as it increase your business credibiliy to your customers. </p>
  <p> Let your friends, relatives, previous customers or people you know to give a review about your business.</p>
  <%= link_to 'Share Review', new_review_path(business_id: current_user.business), class: 'btn' %>

  <ul>
    <% @reviews.each do |review| %>
      <li>
        <%= render 'review', review: review %>
      </li>
    <% end %>
  </ul>

  <br>
</div>

