
<div class='container'>
  <div class='row section'>
    <h4> How was the service of <%= @business.name %>? </h4>

    <%= render 'form', review: @review %>  
  </div>
</div>

<% content_for :extra_japascripts do %>
  <%= javascript_pack_tag 'reviews' %>
<% end %>
