<nav class='white nav-extended'>
  <div class="nav-wrapper container row">

    <%= link_to root_path, class: 'brand-logo' do %>
      <%= image_tag('home/serbreeze-logo-black-text.png') %>
    <% end %>

    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

    <% if user_signed_in? %>
      <ul id="dropdown1" class="dropdown-content">
        <li><%= link_to('Profile', user_profile_path(current_user), class: 'mdl-navigation__link') %></li>
        <li class="divider"></li>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete, class: 'mdl-navigation__link') %></li>
      </ul>
    <% end %>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if user_signed_in? %>
        <li>
          <%= link_to notifications_path, class: 'notif-link' do %>
            <i class='material-icons alert'>notifications</i>
            <% if @notifications.any? %>
              <span class='new badge notification-badge' data-badge-caption=''> </span>
            <% end %>
          <% end %>
        </li>
        <li>
          <a class="dropdown-button " href="#!" data-activates="dropdown1">
            <%= image_tag current_user.avatar_url, width: '38px;', style: 'vertical-align:middle', class: 'circle responsive-img' %>
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
      <% else %>
        <li><%= link_to('Login', new_user_session_path, class: 'mdl-navigation__link')  %></li>
      <% end %>
    </ul>

    <span class='right hide-on-small-only'>
      <%= react_component("services/searchServiceInput", {placeholder: 'Search for services', redirect_on_select: 'true'} , class: 'input-field') %>
    </span>

    <ul class="side-nav" id="mobile-demo">
      <% if user_signed_in? %>
        <li>
          <div class="userView">
            <div class="background">
              <%= image_tag('side_nav/avatar-bg.jpg') %>
            </div>
            <%= image_tag current_user.avatar_url, class: 'circle' %>
            <a href="#!name"><span class="white-text name"><%= current_user.complete_name %></span></a>
            <a href="#!email"><span class="white-text email"><%= current_user.email %></span></a>
          </div>
        </li>
        <%= render 'layouts/user_nav_links' %>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete, class: 'mdl-navigation__link') %></li>
      <% else %>
        <li><%= link_to('Login', new_user_session_path, class: 'mdl-navigation__link')  %></li>
      <% end %>
    </ul>

  </div>

  <% if current_user %>
    <div class='nav-content lower-nav hide-on-med-and-down'>
      <div class='container'>
        <ul class="left">
          <%= render 'layouts/user_nav_links' %>
        </ul>
      </div>
    </div>
  <% end %>

</nav>

<div class='clearfix'> </div>
