<header class="mdl-layout__header mdl-layout__header--transparent">
  <div class="mdl-layout-icon">SHIT</div>
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <%= link_to "Echo", root_url, class: 'mdl-layout-title mdl-navigation__link' %>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation -->
    <nav class="mdl-navigation">
      <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: 'mdl-navigation__link') %>
      <% else %>
        <%= link_to('Login', new_user_session_path, class: 'mdl-navigation__link')  %>
      <% end %>
    </nav>
  </div>
</header>

<!-- Uses a transparent header that draws on top of the layout's background -->
<style>
  .page-content {
    background: url('../assets/home/banner.jpg') center / cover;
  }
  .demo-layout-transparent .mdl-layout__header,
  .demo-layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
       your background is light. */
    color: white;
  }
</style>
