<li> <%= link_to "Requests", owner_requests_path %> </li>
<% if current_user.business %>
  <li> <%= link_to "Proposals", owner_proposals_path %> </li>
  <li> <%= link_to "Business", business_path(current_user.business) %> </li>
  <li> <%= link_to "Reviews", reviews_path %> </li>
<% end %>
<li> <%= link_to "Messages", conversations_messages_path %> </li>
<% if !current_user.business %>
  <li> <%= link_to "Create Your Business", new_business_path %> </li>
<% end %>
