<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <title>Serbreeze</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>

    <%= render 'layouts/header' %>
    <%= render 'partials/flash'%>
    <main role="main">
      <%= breadcrumbs separator: " &rsaquo; ", class: 'container section' %>

      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= yield :extra_japascripts %>
    </main>
  </body>

</html>
